<mat-card 
    class="card"
    fxLayout
    fxLayoutAlign="space-between center" 
    cdkDrag>

    <p>{{ item.description }}</p>

    <div 
        fxLayout 
        fxLayoutAlign="center center"
        fxLayoutGap="5px">
        <p 
        [ngClass]="item.budgetType === 'income' ? 'income-blue' : 'expense-red'">
        <span *ngIf="item.budgetType === 'expense'">-</span>
        ${{ item.amount}}
        </p>
        <mat-icon (click)="onClose()">close</mat-icon>
    </div>
    
</mat-card>