input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-buttonColor {
  background-color: #00c3e7;
}

.button {
    margin-top: 3px;
}

.buttonResize {
    margin-top: 0;
}